* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url("../images/img.jpeg");
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#MetricsHistory {
    margin-top: 3%;
    position: absolute;
    width: 100px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    margin-left: 45%;
    text-align: center;
    color: white;
    border-radius: 12px;
}

#MetricsHistory a {
    color: white;
    text-decoration: none;
}

#reserve {
    margin-top: 1%;
    position: absolute;
    width: 80px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    left: 180px;
    text-align: center;
    border-radius: 12px;
}

#reserve a {
    color: white;
    text-decoration: none;
}

#temperature {
    position: absolute;
    width: 400px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 3%;
    margin-left: 55%;
    color: white;
    font-size: 1.6em;
    font-family: "Comic Sans MS"
}

#temperature h1 {
    font-size: 1.3em;
    margin-left: 100px;
}

#humidity {
    position: absolute;
    width: 400px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 12%;
    margin-left: 55%;
    color: white;
    font-size: 1.6em;
    font-family: "Comic Sans MS"
}

#humidity h1 {
    font-size: 1.3em;
    margin-left: 100px;
}

#weight {
    position: absolute;
    width: 400px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 21%;
    margin-left: 55%;
    color: white;
    font-size: 1.6em;
    font-family: "Comic Sans MS"
}

#weight h1 {
    font-size: 1.3em;
    margin-left: 100px;
}

#time {
    position: absolute;
    width: 400px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 30%;
    margin-left: 55%;
    color: white;
    font-size: 1.6em;
    font-family: "Comic Sans MS"
}

#time h1 {
    font-size: 1.3em;
    margin-left: 100px;
}

#metricsHistory {
    margin-top: 1%;
    position: absolute;
    width: 80px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    left: 80px;
    text-align: center;
    border-radius: 12px;
}

#metricsHistory a {
    color: white;
    text-decoration: none;
}

#MeasurementHistory {
    position: absolute;
    width: 600px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    margin-left: 5%;
    overflow: auto;
    color: white;
    font-size: 1.6em;
    font-family: "Comic Sans MS";
}

#MeasurementHistory p {
    position: sticky;
}