<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../static/css/StartPageStyle.css">
    <!--<script src="../static/jQuery/jquery-3.6.4.min.js"></script>-->
    <!--<script src="/static/js/StartPage.js"></script>-->
    <!--<script th:src="@{/static/js/StartPage.js}"></script>-->
</head>
<body>
<button id="MetricsHistory" class="btn btn-dark" onclick="window.location.href='MeasurementHistoryPage';">
    ИСТОРИЯ
</button>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateData() {
            fetch('/update_info')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').textContent = data.temperatureValue;
                    document.getElementById('humidity').textContent = data.humidityValue;
                    document.getElementById('weight').textContent = data.weightValue;
                    document.getElementById('time').textContent = data.timeValue;
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        setInterval(updateData, 15000); // Update every 15 seconds

        // Initial call to populate data right away
        //updateData();
    });
</script>
<div id="temperature">
    <h1>Температура</h1>
    <p th:text="${temperatureValue}"/>
</div>
<div id="humidity">
    <h1>Влажность</h1>
    <p th:text="${humidityValue}"/>
</div>
<div id="weight">
    <h1>Вес</h1>
    <p th:text="${weightValue}"/>
</div>
<div id="time">
    <h1>Время</h1>
    <p th:text="${timeValue}"/>
</div>
</body>
</html>